# .gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files (We download it via script, so we don't need to commit it)
*.csv
*.pkl
*.joblib
*.db
